{% extends 'base.html' %}

{% block content %}
    <div id="textContainer">
        <h3>Cuisine Selection</h3>
        <hr class="mainHR"/>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ultrices ultricies. 
            In dapibus arcu odio, ultricies imperdiet tortor gravida fermentum. Pellentesque feugiat suscipit ex, condimentum 
            facilisis leo tempor in. Aenean tempus est mollis quam semper maximus. Integer et risus sed mauris vulputate 
            condimentum. Nulla fermentum quam eu est volutpat, sollicitudin elementum nisl faucibus. 
            Nullam dignissim suscipit eros vel convallis. Donec auctor laoreet lacinia. Duis porta dapibus neque, 
            quis rhoncus libero imperdiet at. Vivamus sed mi fermentum, vulputate sem ac, ultrices lectus. 
            Pellentesque hendrerit sed justo quis rhoncus. Morbi fermentum vehicula orci id sollicitudin.
        </p>
    </div>
    <div id="plotContainer">
        <img src="https://files.realpython.com/media/gridspec_ex.9bce5a0726e9.png" alt="Plot Description">
    </div>
   
{% endblock %}
