.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
}

.bubbles:hover {
    stroke: black;
}

.tooltip {
    position: absolute;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
  }

.rectStyle {
    stroke: black;
    stroke-width: 1px;
    fill:rgb(44, 173, 113);
}

/* svg {
    display: block; /* Makes each SVG a block-level element */
    margin: auto; /* Optionally centers the maps horizontally */
} */

#heat-map {
  width: 1400px; /* Adjust as needed */
  height: 1200px; /* Adjust as needed */
}
