.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
}

.bubbles:hover {
    stroke: black;
}

.tooltip {
    position: absolute;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
  }

.rectStyle {
    stroke: black;
    stroke-width: 1px;
    fill:rgb(44, 173, 113);
}

#heat-map {
  width: 100%;
  height: 100%;
}

#textContainer button{
  padding: 1.5%;
  margin-bottom: 10px;
  text-align: center;
  color: #3d4449;
  background-color: #f5f6f7; /* Set your desired button background color */
  cursor: pointer;
  font-size: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#textContainer button:hover,
button:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Align the buttons vertically, useful if they're of different heights */
}

.legendItem {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.legendColor {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #000;
}