<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='Final_Project.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='./plot2/plot2.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='./plot1/plot1.css') }}"
        />
        <title>VISUALIZATION OF BIOLOGICAL DATA FINAL PROJECT</title>
    </head>
    <body>
        <h1>Final Project: Food Database Analysis</h1>
        <div id="menuContainer">
            <ol>
                <li>
                    <button onclick="executeLink('{{ url_for('introduction') }}')">
                        USER DATA SELECTION
                    </button>
                </li>
                <hr />
                <li>
                    <button onclick="executeLink('{{ url_for('plot', plot_number=1) }}')">
                        INGREDIENT ANALYSIS
                    </button>
                </li>
                <hr />
                <li>
                    <button onclick="executeLink('{{ url_for('plot', plot_number=2) }}')">
                        CUISINE STATS
                    </button>
                </li>
                <hr />
                <li>
                    <button onclick="executeLink('{{ url_for('plot', plot_number=3) }}')">
                        POPULARITY ANALYSIS
                    </button>
                </li>
                <hr />
                <li>
                    <button onclick="executeLink('{{ url_for('plot', plot_number=4) }}')">
                        PLOT 4
                    </button>
                </li>
            </ol>
        </div>
        <div id="mainContainer">
            <div id="formContainer">
                <form id= "selection-form" action="/submit_cuisines" method="post">
                    <label>
                        <input type="checkbox" id="checkAll" onclick="checkAllBoxes()">
                        Select All
                    </label>
                    {% for continent, continent_cuisines in cuisines.items() %}
                        <h3>{{ continent }}</h3>
                        <label>
                            <input type="checkbox" class = "selection-checkboxes" id = "checkContinent{{ continent }}" onclick="checkCuisine(this)" data-cuisine="{{ continent.replace(' ','') }}">
                            Select All {{ continent }}
                        </label>
                    </br>
                    </br>
                        {% for cuisine in continent_cuisines %}
                            <label><input type="checkbox" class = "{{ continent.replace(' ','') }} selection-checkboxes cuisinecheckboxes" name="selected_cuisines" value="{{ cuisine }}" {{ "checked" if cuisine in selected_cuisines}} >{{ cuisine }}</label><br>
                        {% endfor %}
                    {% endfor %}
                    <input type="submit" value="Submit" id="submission">
                    <input type="hidden" name="plot_number" value = "{{ plot_number }}">
                </form>
            </div>
            <hr />
            <div id="dataContainer">{% block content %}{% endblock %}</div>
        </div>
        <script>
            // JavaScript function to execute the link when pressing the button
            async function executeLink(url) {
                const posturl = "/submit_cuisines";
                await fetch(posturl, {
                    method : "POST",
                    body: new FormData(document.getElementById("selection-form")),
                });
                window.location.href = decodeURIComponent(url);
            }

            // JavaScript function to check/uncheck all checkboxes
            function checkAllBoxes() {
                const event = new Event("change");
                var checkboxes = document.getElementsByClassName("selection-checkboxes");
                var selectAllCheckbox = document.getElementById("checkAll");
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = selectAllCheckbox.checked;
                    checkboxes[i].dispatchEvent(event);
                }
            }
            
            // JavaScript function to check/uncheck all checkboxes of a continent
            function checkCuisine(checkbox) {
                const event = new Event("change");
                var continent = checkbox.getAttribute("data-cuisine");
                var cuisineCheckboxes = document.querySelectorAll(`.${continent}`);
                for (var i = 0; i < cuisineCheckboxes.length; i++) {
                    cuisineCheckboxes[i].checked = checkbox.checked;
                    cuisineCheckboxes[i].dispatchEvent(event);
                }
            }
        </script>
    </body>
</html>
