{% extends 'base.html' %}

{% block content %}
<div id="textContainer">
<h2>Project: Visualization of Biological Data<br> WS 23/24</h2>
<hr class="mainHR"/>
<h3>Team:</h3>
<ul>
    <li>Carla Lopez Martinez: Website design and functioning</li>
    <li>Vojtech Sykora: Ingredient Analysis</li>
    <li>Daniel Eskandar: Cuisine Stats</li>
    <li>Melis Oktayoglu: Popularity Analysis</li>
    <li>Amal: Similarities between cuisines</li>
</ul>

<p>
    Cooking is one of the most common and (ful)filling hobbies. Especially since the last two years
    of lockdowns and restrictions, more people started experimenting in their chemical laboratories
    known as kitchens. And what probably many of you know well, after a few weeks of home cooking we need to boost our inspiration, unless we want to make the same meals over and over again.
</p>

<p>
    We explored a data set of more than 230 000 recipes from the site 
    <a href="https://www.food.com/" target="_blank">food.com</a> <br>
    The data was taken from Kaggle:
    <a href="https://www.kaggle.com/shuyangli94/food-com-recipes-and-user-interactions" target="_blank">kaggle.com</a>
</p>

</div>
<div id="plotContainer">
    <img src="https://c.ndtvimg.com/2023-12/jrgau178_moroccon-food_625x300_07_December_23.jpg?im=FeatureCrop,algorithm=dnn,width=1200,height=738" alt="Plot Description">

</div>
{% endblock %}
