{% extends 'base.html' %} {% block content %}

<div id="leftContainer">
    <h3>Cuisine Statistics</h3>
    <hr class="mainHR" />
    <div id="plotFilterContainer">
        <h4>Select Plot Type</h4>
        <select id="plotTypeDropdown">
            <option value="Recipe Type Percentages">Recipe Type Percentages</option>
            <option value="Nutrient PDV Percentages">Nutrient PDV Percentages</option>
        </select>
    </div>
    <div id="cuisineFilterContainer">
        <h4>Select Cuisines</h4>
    </div>
    <div id="legendContainer">
        <h4>Legend</h4>
    </div>
</div>

<div id="centerContainer">
    <svg id="plot"></svg>
</div>
<div id="rightContainer">
    <h4>Cuisine Details</h4>
</div>

<script type="text/javascript">
    dataset = {{ plot_data  | safe }};
</script>

<script src="{{ url_for('static', filename='./plot2/cuisinesList.js') }}"></script>
<script src="{{ url_for('static', filename='./plot2/cuisinesTree.js') }}"></script>
<script src="{{ url_for('static', filename='./plot2/plotType.js') }}"></script>
<script src="{{ url_for('static', filename='./plot2/recipesPlot.js') }}"></script>
<script src="{{ url_for('static', filename='./plot2/nutrientsPlot.js') }}"></script>
<script src="{{ url_for('static', filename='./plot2/plot2.js') }}"></script>

{% endblock %}
