{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" >
    dataset = {{ plot_data  | safe }};
    
</script>
    <div id="textContainer">
        <h3>Plot Description</h3>
        <hr class="mainHR"/>
        <p>
            Normalized popularity plot for all cuisines, each range 0-100 to describe the changes in 
            recipe commits to the food.com from 1998 to 2020.
        </p>



    </div>
    <div id="plotContainer">
     
    </div>
    <script src="{{ url_for('static', filename='./plot3/plot3.js') }}"></script>
{% endblock %}