{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" >
    dataset = {{ plot_data  | safe }};
</script>
    <div id="textContainer">
        <h3>Plot Description</h3>
        <hr class="mainHR"/>
        <p>
            PLOT 3 Your introduction or plot description content here...
        </p>

        <label for="dynamicDropdown">Select a cuisine:</label>
        <select id="dynamicDropdown" name="dynamicDropdown">
        </select>

    </div>
    <div id="plotContainer">
     
    </div>
    <script src="{{ url_for('static', filename='./plot3/plot3.js') }}"></script>
{% endblock %}