{% extends 'plot1.html' %}

{% block child_content1 %}
<h2>Choropleth maps (Geographical maps)</h2>
<p>
    These Choropleth maps show the top ingredient in each cuisine. 
The top map has a separate color for each ingredient to easily view which countries share the top ingredient.
The bottom map shows the percentage of recipes the top ingredient is included in. 
This is to show which cuisines have many recipes sharing the same top ingredient. 
The darker colored countries dont have much variety in their ingredient choice. 
</p>
<div id="ingredientButtons"></div>
{% endblock %}

{% block child_content2 %}
<script type="text/javascript" >
    dataArray = {{ plot_data  | safe }};
</script>
<svg id="world-map"></svg>
<svg id="world-map2"></svg>
<script src="{{ url_for('static', filename='./plot1/geomaps.js') }}"></script>

{% endblock %}