{% extends 'plot1.html' %}

{% block child_content1 %}
<h2>Heatmap</h2>
<p>This heatmap shows the <b>top 5 ingredients in each cuisine</b> and their <b>percentage of occurence</b> in recipes of such cuisine.</p>
<p>The most used ingredients are often basic ones such as water, salt, or sugar. 
    If we remove these basic ingredients we get more into depth of what represents the cuisines of the world.
    Therefore water, salt, and sugar were removed from the dataset to make space for 'real' ingredients.
</p>
<p><i>Select cuisines on the left and then click on the heatmap button to refresh it</i></p>
{% endblock %}

{% block child_content2 %}
<script type="text/javascript" >
    dataArray = {{ plot_data  | safe }};
</script>
<svg id="heat-map"></svg>
<script src="{{ url_for('static', filename='./plot1/heatmap.js') }}"></script>

{% endblock %}