{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" >
    dataArray = {{ plot_data  | safe }};
</script>
    <div id="textContainer">
        <h3>Ingredients in Cuisines</h3>
        <hr class="mainHR"/>
        <p>
            PLOT 1 Your introduction or plot description content here...
        </p>
    </div>
    <div id="plotContainer">
        <svg id="heat-map"></svg>
        <svg id="world-map"></svg>
        <svg id="world-map2"></svg>
    </div>
    <script src="{{ url_for('static', filename='./plot1/geomaps.js') }}"></script>
{% endblock %}
