#leftContainer {
    flex-basis: 20%;
    padding-right: 2%;
}

#centerContainer {
    flex-basis: 60%;
    padding-right: 1%;
    padding-left: 1%;
}

#rightContainer {
    flex-basis: 20%;
    padding-left: 2%;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 10px;
}

#plotTypeDropdown {
    width: 80%;
    height: 25px;
    font-size: 13px;
}
