#leftContainer {
    flex-basis: 25%;
    padding-right: 2%;
}

#centerContainer {
    flex-basis: 45%;
    padding-right: 0%;
    padding-left: 1%;
}

#rightContainer {
    flex-basis: 30%;
    padding-left: 0%;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 10px;
}

#plotTypeDropdown {
    width: 80%;
    height: 25px;
    font-size: 13px;
}

#nutrientTypeDropdown {
    width: 80%;
    height: 25px;
    font-size: 13px;
}

.legendItem {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.legendColor {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 1px solid #000;
}

.cuisine-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cuisine-detail-title {
    color: #333;
    font-size: 18px;
    margin-top: 0;
}

p {
    color: #666;
    font-size: 20px;
    margin-bottom: 20px;
}
